@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  padding: 0;
}

.project .project-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: .5s ease;
}

.project>img{
  transition: .5s ease;
}

.project:hover img{
  transform: scale(1.1);
}  

.project:hover .project-layer{
  transform: translateY(0);
} 


